.App {
  max-width: 50em;
  margin: 100px auto;
  padding: 32px;
  border: 2px solid black;
  max-height: 100%;
  border-radius: 5px;
}

.todo-input {
  font-size: 24px;
  border-style: none none none solid; 
  border-width: 5px;
  border-color: rgb(160, 5, 165);
  width: 100%;
}

.complete-btn {
  margin-left: auto ;
}

#heading {
  margin: auto 50%;
  color: purple;
}

.todo-list {
  display: flex;
  justify-content: space-around;
  margin: auto;
}